.headertop {
    padding: 52px 93px 30px;
}
.top_menu_second {
    transform: translateX(-370px);
}
/*DEMO*/
.open .top_menu_second {
    transform: translateX(0px);
    /*overflow: scroll;*/
}
.top_menu p::before {
    background: transparent url("../img/icon-menu.png") no-repeat scroll 0 0;
    content: "";
    cursor: pointer;
    display: block;
    height: 44px;
    width: 44px;
    margin-top: 3px;
}
.top_menu span {
    display: none;
}
.dropdown-menu.mega-dropdown-menu {
    left: 100% !important;
    top: 0;
}
.text_menu {
    background: #141414 none repeat scroll 0 0;
    color: #fff;
    display: block;
    font-size: 17px;
    padding-bottom: 6px;
    padding-left: 39px;
    padding-top: 6px;
    text-transform: uppercase;
}
.top_menu_second .container{
	 width: 370px;
	 padding:0;
}
.pe.pe-7s-close {
    right: 45px;
    top: 8px;
}
.user-info.btn-group a {
    color: #7c7c7c;
}
#jms-megamenu-container {
    padding-top: 100px;
}
.jms-megamenu .nav > li{
	padding:0 !important;
}
.btn-group.compact-hidden.user-info a:hover {
    color: #b77e52;
}
#jms-megamenu-container {
    border-radius: 0;
    padding-bottom: 40px;
    padding-top: 40px;
}
.logo > span {
    line-height: 37px;
}
 .top_group #layer_cart a {
    line-height: 24px;
}
.btn-group.open .dropdown-menu::before{
	right:49px;
}
.jms-megamenu .open > .dropdown-menu {
    top: -8px !important;
}
.jms-megamenu .item-fullwidth.open > .dropdown-menu {
    top: -86px !important;
}
.top_menu_second .btn-group.open .dropdown-menu::before{
	display:none;
}
.top_logo {
    text-align: center;
}
.top_menu_second .addon-box .btn-group {
    margin-left: 35px;
    margin-right: 35px;
}
.top_group .pe {
    font-size: 27px;
    line-height: 43px;
}

#cart_block .ajax_cart_quantity{
    left: 20px;
    top: -10px;
}
#ajax_search {  
    top: -43px;
}
#cart_block .shoppingcart-box {
    left: auto;
    right: -43px;
    top: 69px;
}
/*BODy*/
#index .center h3 {
    font-weight:700;
    font-size: 30px;
    text-transform: capitalize;
}
#index .center .addon-desc {
    margin: 0 auto;
    color:#303030;
    width: 765px;
}
#index .jms-tab {
    padding-top: 80px;
}
.feature-box i {
    background: #f3f4f6 none repeat scroll 0 0;
    border-radius: 50%;
    font-size: 50px;
    height: 101px;
    line-height: 101px;
    width: 101px;
}
.feature-box h4{
    margin-top: 34px;
    padding-bottom: 16px;
}
footer {
    border-top: 1px solid #ebebeb;
    padding-top: 76px;
}
footer .addon-title h3 {
    padding-bottom: 27px;
}
footer .contact-info label {
    font-weight: normal;
}
footer .contact-info li {
    color: #666666;
    line-height: 33px;
}
.contact-info {
    padding-right: 59px;
}
.list_footer .addon-box a {
    color: #666;
    line-height: 33px;
}
.newletter_right_footer .addon-box a {
    color: #666;
    line-height: 36px;
}
.news_content .form-group .button {
    display: none;
}
.block_c_right .form-group {
    display: flex;
    margin-bottom: 30px;
    margin-top: 2px;
}
.textnews_h1 span {
    color: #666;
}
.block_c_right .newsletter-input {
    border-color: transparent !important;
    border-radius: 0;
    color: #8e8e8e;
    font-size: 14px;
    height: 52px;
    padding-left: 17px;
    /*width: 59%;*/
    width: 47.2%;
    letter-spacing: 1px;
    margin-left: 115px;
}

.block_c_right .newsletter-input:hover, .block_c_right .newsletter-input:active , .block_c_right .newsletter-input:focus  {
    border-color: #f3f4f6;
}
.newsletter-btn.buttonh1 {
    background: #000 none repeat scroll 0 0;
    border-radius:0;
    font:300 13px 'Roboto';
    line-height: 46px;
    padding: 0;
    /*width: 26.1%;*/
    width: 21%;
	color:#fff !important;
    margin-left: 21px;
    letter-spacing: 3px;
    transition: .5s ease;
}
.newsletter-btn.buttonh1:hover {
    background-color: #dd9965;
    color: #fff !important;
}
.newsletter-btn.btn-default::before{
	display:none;
}
.jms-popup .newsletter-btn.btn-default::before{
	display:block;
}
.newsletter-btn.buttonh2,  .textnews_h3, .textnews_h4{
    display: none;
}
.textnews_popup.addon-title {
    display: none;
}
.jms-popup-content .textnews_popup.addon-title {
    display: block;
}
.footer_bottom {
    padding: 30px 0;
	border-top:1px solid #ebebeb;
}
.footer_bottom .addon-box p {
    text-align: center;
    font-size: 14px;
    margin-left: 40px;
    letter-spacing: 1.05px;
}
.footer_bottom .addon-box p a{
    color:#dfa072;
}
#social_block ul li {
    background: #f3f4f6 none repeat scroll 0 0;
    border-radius: 50%;
    height: 42px;
    line-height: 42px;
    margin-right: 10px;
    text-align: center;
    width: 30px;
}
#social_block ul li {
    display: inline-block;
    overflow: hidden;
    position: relative;
    transform: perspective(1px) translateZ(0px);
    transition-duration: 0.3s;
    transition-property: color;
    vertical-align: middle;
}
#social_block ul li::before{
    background: #000 none repeat scroll 0 0;
    border-radius: 100%;
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform: scale(0);
    transition-duration: 0.3s;
    transition-property: transform;
    transition-timing-function: ease-out;
    z-index: -1;
}
/*#social_block ul li:hover span, #social_block ul li:focus span, #social_block ul li:active span{
    color: #fff;
}
#social_block ul li:hover::before, #social_block ul li:focus::before,#social_block ul li:active::before {
    transform: scale(2);
}*/
/*Block Cart Popup*/
.top_group {
    position: static;
}
@media (max-width: 1199px){
	.headertop {
		padding: 35px 10px;
	}
	 #search_result{
	   top:44px !important;	
	}
}
@media (max-width: 991px){
	.top_menu_second .layout-column, .text_menu, .menu_hidden .pe.pe-7s-close {
		display: none;
	}
	.top_menu_second .layout-column.menu_hidden {
		display: block;
		height:44px;
	}
	.top_menu_second {
		background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
		box-shadow: none;
		left: 15px;
		opacity: 1;
		padding-top: 0;
		position: absolute;
		top: 36px;
		transform: none !important;
		visibility: visible;
		z-index: 1;
		height:auto;
	}
	.top_menu p::before{
		display:none;
	}
	.top_menu_second {
		width: auto;
	}
	.top_menu_second .container{
		width:78px;
	}
	#index .center .addon-desc {
		width: 668px;
	}
	footer .layout-column {
		margin-bottom: 20px;
	}
	footer .layout-column:last-child {
		margin-bottom: 0px;
	}
}
@media (max-width: 767px){
    .service_h1 .layout-column {
		margin-bottom: 30px;
	}
	.footer_bottom .addon-box > p{
		text-align:left;
	}
	#index .center .addon-desc {
		width: auto;
	}
	
}
@media (max-width: 670px){
	#index .jms-tab {
		padding-bottom: 68px;
	}
	#index.home_1 .owl-theme .owl-controls div.owl-next {
		right: 43%;
	}
	#index.home_1 .owl-theme .owl-controls div.owl-prev {
		right: 52%;
	}
}
@media (max-width: 481px){
	.headertop {
		padding: 20px 10px 10px;
	}
	.top_logo {
		border-bottom: 1px solid #ebebeb;
		padding-bottom: 15px;
		width: 100%;
	}
   .top_group {
		float: right;
		padding-top: 15px;
		width: 60%;
	}
	.top_menu_second{
		top:94px;
	}
	.top_group .pe {
		font-size: 24px;
		line-height: 43px;
	}
	#cart_block .shoppingcart-box{
		top:55px;
	}
	#search_result {
		left: 67px !important;
		top: 53px !important;
	}
	#index.home_1 .owl-theme .owl-controls div.owl-next {
		right: 38%;
	}
	.headertop{
		padding:20px 0;
	}
}

.home_1 .top_logo{
    display: inline-flex;
}
.home_1 .top_logo > .addon-box p{
    font-family: 'Old Standard TT';
    font-size: 33px;
    line-height: 30px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing:3px;
}
.home_1 .text-large{
    font-family: 'Old Standard TT';
    letter-spacing: 0.6px;
}
.home_1 .text-small{
    font-family: 'Roboto';
    color: rgb(48, 48, 48);
    line-height: 55.4948px;
}
.home_1 .popup_home + .jms-row{
    background: #f8f8f8;
    position: relative;
}
.home_1 .headertop{
    background: #f8f8f8;
    position: fixed;
    top: 0;
    z-index: 9999;
    width: 100%;
    display: block;
}
.home_1 #header{
    
}
.home_1 .btn-viewmore{
    text-transform: uppercase;
    color: #000;
    border: 3px solid;
    padding: 15px 35px;
    font: 400 13px 'Roboto';
    letter-spacing: 3px;
}
.home_1 .btn-viewmore:hover{
    border-color: #dd9965;
    color:#dd9965;
    cursor: pointer;
}
.home_1 .jms-banner.banner1 img{
    display: block;
    margin:0 auto;
}
.home_1 .jms-banner.banner1{
    background: #f8f8f8;
    margin-bottom:30px;
    padding:32.5px;
}
.home_1 .col-lg-6 .addon-box .jms-banner.banner1{
    padding: 57px;
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}
.home_1 .col-lg-3 .addon-box .jms-banner.banner1{
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}
.home_1 .addon-box .jms-banner.banner1:hover .img-content{
    opacity: 1;
    display: block;
}
.home_1 .addon-box .jms-banner.banner1:hover{
    opacity: 0.8;
    background: #575757;
}
.home_1 .addon-box .jms-banner.banner1:hover img{
    opacity: 0.5;
}
.home_1 .img-content.banner-small-top{
    top: 10.2%;
}
.home_1 .img-content.banner-small-bottom{
    top: 59%;
}
.home_1 .img-content{
    width: 90%;
    left: 5%;
    opacity: 0;
    text-align: center;
    z-index: 99999;
    display: none;
    position: absolute;
    top: 33%;
    transition: .5s ease;
}
.home_1 .img-content h2, .home_1 .img-content .text-small, .home_1 .img-content .btn-viewmore{
    color:#fff;
}
.home_1 .img-content .btn-viewmore:hover{
    color: #dd9965;
}
.home_1 .img-content h2{
    font: 600 40px 'Old Standard TT';
}
.home_1 .shopping-cart{
    background:rgba(0, 0, 0, 0) url(../img/shopping-bag.png) no-repeat 2px -1px;
    width: 35px;
    height:35px;
    display: block;
}
.home_1 .search-frm{
    background:rgba(0, 0, 0, 0) url(../img/search.png) no-repeat 3px 1px;
    width: 35px;
    height:35px;
    display: block;
}
.home_1 .jms-megamenu ul li:hover > a{
    color:#dd9965 !important;
}
.home_1 .jms-megamenu ul li:hover{
    background-color: transparent !important;
}
.home_1 .addon-box{
    padding: 0 10px;
}
.home_1 .logo{
    display: flex;
}
.home_1 .logo img{
    display: block;
}
.home_1 .jms-slider-wrapper{
    margin-top: -13px;
}
.home_1 .searchbox #ajax_search{
    top: 8px;
    left: 165px;
    border-radius: 0;
    width: 79%;
    background: #fff url(../img/search.png) no-repeat 20px;
    border: none;
    box-shadow: 0px 0px 7px 0 rgba(0,0,0,0.3);
    padding-left: 55px;
}
.home_1 .searchbox::after{
    background: #fff none repeat scroll 0 0;
    box-shadow: -3px -3px 7px rgba(0, 0, 0, 0.1);
    content: "";
    height: 15px;
    position: absolute;
    top: 2px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 15px;
    left: auto;
    right: 15px;
    z-index: 999;
}
.home_1 .jms-megamenu-wrap .text_menu{
    margin-top: 15px;
    font-family: 'Roboto';
    letter-spacing: 4px;
    font-size: 16px;
}
.home_1 .pe.pe-7s-close{
    top:21px;
}
.home_1 .nav > .menu-item > a > span{
    font-family: 'Roboto';
    font-weight: 600;
    letter-spacing: 2px;
    font-size: 17px;
    line-height: 52px;
}
.home_1 .menu-item a span{
    font-family: 'Roboto';
    font-weight: 300;
    letter-spacing: 1px;
    font-size: 14px;
}
.home_1 #header .userinfo_home1{
    bottom:250px;
}
.home_1 #cart_block .shoppingcart-box{
    right: -30px;
    top: 50px;
}
.home_1 .text-small{
    letter-spacing: 1px;
}
.home_1 .feature-box .image{
    height: 62px;
}
.home_1 .service_h1{
    max-width: 1730px;
    margin: 0 auto;
    padding: 0 15px;
}
.home_1 .service_h1 .layout-column:first-child img{
    margin-top: 10px;
}
.home_1 .feature-box p{
    font: 300 14px 'Roboto';
    letter-spacing: 1px;
}
.home_1 .feature{
    margin-top: 70px !important;
    max-width: 1765px;
    margin:0 auto;
    padding:0 15px;
}
.home_1 .feature .addon-box{
    padding: 0 15px;
}
.home_1 .img-content .text-large{
    font:600 40px 'Old Standard TT';
    color: #fff;
    line-height: 70px;
    letter-spacing: 0.5px;
}
.home_1 .img-content.banner-small-top .text-large{
    font:600 40px 'Old Standard TT';
    color: #fff;
    line-height: 56px;
    letter-spacing: 0px;
}
.home_1 .img-content.banner-small-bottom .text-large{
    font:600 40px 'Old Standard TT';
    color: #fff;
    line-height: 63px;
    letter-spacing: 0.5px;
}
.home_1 .img-content .text-small{
    line-height: 0;
}
.home_1 .img-content .btn-viewmore{
    line-height: 100px;
}
.home_1 .img-content .btn-viewmore:hover{
    cursor: pointer;
}
.home_1 .special-offer .addon-box{
    padding:0;
}
.home_1 .menu_hidden .addon-box{
    padding:0;
}
.home_1 .userinfo_home1 a.account{
    color:#dddddd;
    line-height: 55px;
}
.home_1 .userinfo_home1 a.account:hover{
    color:#b77e52;
}
.home_1 .jms-megamenu .nav li.must-see > a > span::after, .home_1 .jms-megamenu .nav li.new > a > span::after{
    content: '';
    border:none !important;
}
.home_1 .jms-megamenu .nav li.must-see > a > span::before, .home_1 .jms-megamenu .nav li.new > a > span::before{
    content: '';
    border:none !important;
}
.home_1 .languages-list{
    margin-top: 10px;
}
.box-shadow{
    box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.3);
}
.home_1 .top_logo .addon-box{
    padding:0 19px;
}
.home_1 .slider .slide{
    left:0.5% !important;
    top:2% !important;
}
.home_1 .slider{
    background: #f8f8f8;
}
.fs-pager-wrapper a.active::before{
    border:none;
    width: 0;
    padding:0;
}
.fs-pager-wrapper a{
    display: inline-block;
    width: 11px;
    height: 11px;
    margin: 0 5px;
    text-indent: -99999px;
    cursor: pointer;
    background-color: #dcdcdc;
    border-radius: 10px;
}
.fs-pager-wrapper a.active{
    background: #dd9965;
}
h1.special-offer-title{
    text-align: center;
    font: 600 36px "Old Standard TT", serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 43px;
    margin-bottom: 39px;
}
.special-offer .jms-banner{
    position: relative;
}
.special-offer .jms-banner .offer-content{
    position: absolute;
    bottom: 47px;
    text-align: center;
    left:12.7%;
}
.special-offer .offer-content .text-large{
    font: 600 40px 'Old Standard TT';
    line-height: 70px;
    letter-spacing: 0.5px;
    letter-spacing: 0.1px;
    line-height: 56px;
}
.special-offer .offer-content .text-small{
    letter-spacing: 1.05px;
    line-height: 26.495px;
}
.special-offer .offer-content .btn-viewmore{
    line-height: 120px;
    background: #000;
    color: #fff;
    transition: .5s ease;
    border:2px solid #000;
}
.special-offer .offer-content .btn-viewmore:hover{
    background: #dd9965;
    border:none;
    border:2px solid #dd9965;
}
.special-offer .offer-content .space{
    height: 24px;
}
/*.special-offer .img-offer img{
    width: 100%;
}*/
.img-content .text-large{
  font: 600 40px 'Old Standard TT';
  line-height: 70px;
  letter-spacing: 0.5px;
}
.new-arrivals h3{
    text-align: center;
    font: 600 36px "Old Standard TT", serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 74px;
    margin-bottom: 39px;
}
.footer_bottom .find-us{
    text-align: center;
    margin-bottom: 0;
}
.jms-row.newsletter{
    background-repeat: repeat-x;
}
#newsletter_block_left{
    text-align: center;
    margin-top: 112px;
}
.contact-us .contact-info li:first-child:before{
    content:"\f1d9";
    font-family: "FontAwesome";
    margin-right:10px;
}
.contact-us .contact-info li:nth-child(2):before{
    content:"\f095";
    font-family: "FontAwesome";
    margin-right:10px;
}
.contact-us .contact-info li:nth-child(3):before{
    content:"\f003";
    font-family: "FontAwesome";
    margin-right:10px;
}
.contact-us .contact-info li:nth-child(4):before{
    content:"\f017";
    font-family: "FontAwesome";
    margin-right:10px;
}
#footer .list_footer li{
    list-style-type: initial;
    padding-left: 3px;
}
#footer h3{
    font: 600 14px 'Roboto';
    letter-spacing: 3.2px;
}
.newsletter .textnews_h1 h3{
    text-transform: capitalize;
    font-size:40px;
    letter-spacing: 0px;
}
.newsletter .col-lg-3 img{
    display: block;
}
.newsletter .col-lg-3 img.left{
    float: left;
}
.newsletter .col-lg-3 img.right{
    float: right;
}
.newsletter .container{
    width: 1700px;
}
.newsletter .col-lg-3 p{
    margin:0;
}
.footer_bottom #social_block a{
    color:#555555;
}
#social_block ul li{
    background-color: transparent;
}
#social_block ul li:hover .facebook{
    color:#486292;
}
#social_block ul li:hover .twitter{
    color:#00acf0;
}
#social_block ul li:hover .gplus{
    color:#dc4f48;
}
#social_block ul li:hover .instagram{
    color:#3b393a;
}
#social_block .fa:before{
    font-size: 20px;
}
#social_block ul li:last-child{
    width: 45px;
}
.new-arrival .container{
    width: 1700px;
}
.new-arrival .preview{
    background: #f8f8f8;
    transition: .5s ease;
}

.group-btn a span{
    background: #fff;
    background-repeat: no-repeat;
    background-position: center;
    padding: 16px 25px;
    width: 100px;
    height: auto;
}
.group-btn a span:hover{
    cursor: pointer;
    background: #dd9965;
    background-repeat: no-repeat;
    background-position: center;
    padding: 16px 25px;
    width: 100px;
    height: auto;
}
/*.group-btn a span.heart:hover{
    cursor: pointer;
    background: #dd9965;
    background-repeat: no-repeat;
    background-position: 15px 10px;
    padding: 13px 15px;
}
.group-btn a span.zoom:hover{
    cursor: pointer;
    background: #dd9965;
    background-repeat: no-repeat;
    background-position: 15px 10px;
    padding: 13px 15px;
}*/
.group-btn .cart{
    background-image:url('../img/cart.png');
}
.group-btn .cart:hover{
    background-image:url('../img/cart-hover.png');
}
.group-btn .heart{
    background-image:url('../img/wishlist.png');
}
.group-btn .heart:hover{
    background-image:url('../img/wishlist-hover.png');
}
.group-btn .zoom{
    background-image:url('../img/zoom.png');
}
.group-btn .zoom:hover{
    background-image:url('../img/zoom-hover.png');
}
.product-preview .group-btn{
    line-height: 50px;
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    left: 50%;
    display: inline-flex;
}
.group-btn a{
    margin-right:10px;
}
.new-arrival .preview:hover{
    opacity: 0.8;
    background: #888888;
}
.group-btn{
    opacity: 0;
}
.new-arrival .preview:hover .group-btn{
    opacity: 1;
}
.new-arrival .preview img{
    transition: 0.5 ease;
}
.new-arrival .preview:hover img{
    opacity: 0.5;
}
.new-arrival .preview:hover .discount-percentage{
    opacity: 0.8;
}
.product-preview:hover .preview .cart-button{
    display: inline;
}
.new-arrival .product-info:hover .product-link{
    color:#dd9965;
}
.label-new{
    display: none;
}
.discount-percentage{
    top: 21px !important;
    position: absolute;
    right: 21px;
    background: #000;
    color: #fff;
    font: 600 13px 'Roboto';
    padding: 7px 15px;
}
.home_1 .product-preview:hover .content_price{
    opacity: 1;
}
#footer .contact-us{
    padding: 0 98px;
}
#footer .list_footer{
    padding-left: 50px;
}
#footer .contact-us + .list_footer{
    padding-left: 0;
}
#footer .contact-us + .list_footer h3{
    color:#dd9965;
}